body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #4facfe, #00f2fe);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* BOX */
.box {
  width: 280px;
  padding: 50px;
  background: white;
  border-radius: 50px;
  text-align: center;
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

/* INPUT */
input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 6px;
  border: 1px solid #000000;
}

/* BUTTON */
button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: none;
  background: #4facfe;
  color: white;
  border-radius: 10px;
  cursor: pointer;
}

button:hover {
  background: #007bff;
}

/* TEXT */
p {
  margin-top: 10px;
}